{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
  <div class="card=container">
    {% if log %}
        <h1> Book Log Details </h1>
        <h2>{{ log.title }} by {{ log.author }}</h2>
    {% else %}
        <h1>Add a Book Log</h1>
        
    {% endif %}
  
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_p }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
</div>
{% endblock %}
