.shelf {
  width: 80%;
  margin: 16px auto;
  background-color: #555555;
  padding: 12px;
  border-radius: 8px;
  min-height: 150px;
}

.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;

}

.shelf .card-container {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px;
  justify-content: flex-start;
}

.card-img-container{
  width: 150px;
  aspect-ratio: 3/4;
  overflow: hidden;
  border-radius: 8px;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 10px;
  width: 100%;
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}
